---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Clients from "../components/Clients.astro";
import Community from "../components/Community.astro";
import Unlock from "../components/Unlock.astro";
import Achievements from "../components/Achievements.astro";
import Calendar from "../components/Calendar.astro";
import Customers from "../components/Customers.astro";
import CommunityUpdates from "../components/CommunityUpdates.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Nexcent - Landing Page</title>
  </head>
  <body>
    <Header />
    <main>
      <Hero />
      <Clients />
      <Community />
      <Unlock />
      <Achievements />
      <Calendar />
      <Customers />
      <CommunityUpdates />
    </main>
    <Footer />
  </body>
</html>
